[MESSAGES CONTROL]

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.
#enable=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
# C0326 does not play well with default arguments and type annotations
# R0903 Too few public methods
# C0103 Invalid variable name. I think 2 letter varialble names are fine
disable=C0111,C0330,C0326,R0903,C0103
